body {
    background: linear-gradient(to right, #02c64a, #044e29);
    color: #000000;
    font-family: Helvetica;
    font-size: 12px;
}

#main_content {
    width: 75%;
    margin: auto;
}

.form_box {
    border: solid 1px #000000;
    background: linear-gradient(to right, #02c64a, #044e29);
    color: #000000;
    height: 800px;
    margin: 50px 0 0 0;
}

.form_title {
    border: solid 1px #00ff1a;
    background-color: #00f335;
    color: #000000;
    height: 32px;
    font-weight: bold;
    text-align: center;
    padding-top: 11px;
}

.form_content {
    width: 50%;
    margin: auto;
}

.form_label {
    width: 100%;
    margin: 18px 0 5px 0;
    display: block;
    font-weight: bold;
}

.form_textbox_short {
    width: 433px;
    height: 25px;
    background-color: #ffffff;
    border: solid 1px #bebebe;
    border-radius: 20px;
    margin-right: 10px;
}

.form_textbox {
    width: 433px;
    height: 30px;
    background-color: #dadada;
    border: solid 1px #bebebe;
    border-radius: 20px;
}

.form_bottom {
    text-align: center;
    margin-top: 20px;
}

.form_radio_horizontal {
    margin: 8px 0;
    padding: 0;
    display: inline-block;
}

.form_radio_horizontal li {
    list-style: none;
    display: inline;
}

.form_radio_horizontal li.item_text {
    margin-right: 30px;
}

.form_button_greenn {
    color: #FFFFFF;
    background-color: #00b312;
    border: solid 1px #00b312;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    display: block;
    margin: 15px auto 0 auto;
}

.form_textarea {
    width: 433px;
    height: 120px;
    background-color: #dadada;
    border: solid 1px #bebebe;
    border-radius: 15px;
    padding: 10px;
    resize: none;
}

.separator {
    clear: both;
    margin: 5px 0;
}
